
.container
{
    margin : 0;
    padding : 0;
    display : flex;
    justify-content : center;
    align-items : center;
    background-color : rgb(31, 166, 220);
    flex-direction: row | row-reverse | column | column-reverse;
}
    
ul
{ 
    margin : 0;
    padding : 0;
    display : flex;
    line-height : 70px;
    
}
ul li 
{
    li style : none;
    margin : 0 10px;
    transition : 8s;
    align-content : space-between;
    width : 30px;
    font-size : 10px;
    gap : 10px;
    
}
    
