*{ text-decoration : none;
}
    
.container
{
    margin : 0;
    padding : 0;
    display : flex;
    justify-content : space-between;
    align-items : center;
    background-color : rgb(31, 166, 220);
    flex-direction: row;
    font-size : 30px;
}
    
ul
{ 
    margin : 0;
    padding : 0;
    display : flex;
    text-decoration : none;
    

}
ul li 
{
    li style : none;
    margin : 0;
    padding :10px;
    width : 30px;
    font-size : 10px;
    gap : 10px;
    
}


